* {
    margin: 0;
}

body {
    
    background-image: linear-gradient(90deg, #85FFBD 0%, #FFFB7D 100%);
 
}
 nav li {
    display: inline;
    padding: 20px;
 }


#banner {
    width: 100%;
}

h1 {
    color: rgb(0, 0, 0);
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
}
div {
color: black;
font-size: 35px;
text-align:justify ;
width: 85%;
margin: auto;

}